.kanto-pokedex {
    background-color: $colorPrincipal;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
    overflow: scroll;
    padding: 20px;

    @include sm() {
        grid-template-columns: 1fr 1fr 1fr
    }

    @include md() {
        grid-template-columns: 1fr 1fr 1fr 1fr
    }

    @include lg() {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    }

    @include xl() {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
    }

    @include xxl() {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    }


    img {
        width: 9rem;
        height: 9rem;
        margin: 0.5rem;
        background-color: $colorAcento;
        border-radius: 50%;
        image-rendering: pixelated;
    }
}

.ball-1,
.ball-2,
.ball-3,
.ball-4,
.ball-5,
.ball-6,
.ball-7,
.ball-8,
.ball-9,
.ball-10,
.ball-11,
.ball-12,
.ball-13,
.ball-14,
.ball-15,
.ball-btn {
    width: 3rem;
}

.buttonBall {
    height: 1.7rem;
    width: 1.7rem;
}

.ballsBotones {
    @include flex(flex, row, flex-start, center);

    .btn-primary {
        margin-top: 0 !important;
    }
}

.rarezaDom {
    width: 3rem !important;
    height: 3rem !important;
    image-rendering: unset !important;
    background-color: $colorSecundario !important;
}

.rarezaSwal {
    width: 3rem !important;
    height: 3rem !important;
    background-color: $colorSecundario;
    border-radius: 50%;
    image-rendering: unset !important;
}

.swal2-styled.swal2-confirm {
    background-color: $colorSecundario !important
}

.swal2-popup {
    background: $colorPrincipal !important;
    border: 13px !important;
    border-color: $colorAcento !important;
}

.locked {
    filter: grayscale(80%)
}



.ball {
    display: block;
}

.use-pokeball,
.use-honorball,
.use-superball,
.use-ultraball,
.use-masterball,
.buy-pokeball,
.buy-honorball,
.buy-superball,
.buy-ultraball,
.buy-masterball,
.use-pokerandom,
.poke-0,
.off {
    display: none;
}

.nombre-contenedor {
    @include flex(flex, row, center, center)
}


.pokemon,
.balled {
    margin-bottom: 1rem;
}

.pokemon-nombre {
    text-decoration: underline $colorSecundario
}