
*{
	@include boxModel (0,0)
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    color: $fontColor;
    @include flexSimple(flex, column);
    text-align: center;
    min-height: 100vh;
    background-color: $colorPrincipal;
}

img{
    width: 17rem;
}

ul{
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
li{
    display: block;
    align-items: center;
    line-height: 1.5em;
    margin-bottom: 0.5rem;
}

hr{
    color: $colorAcento;
}
.acento{
    color: $colorAcento;
}
a{
    color: $colorAcento;
    text-decoration: none;
}
h1 {
    margin-top: 100px;
}

