* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  background-color: #F4ED9E;
}

img {
  width: 17rem;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

li {
  display: block;
  align-items: center;
  line-height: 1.5em;
  margin-bottom: 0.5rem;
}

hr {
  color: #b9b262;
}

.acento {
  color: #b9b262;
}

a {
  color: #b9b262;
  text-decoration: none;
}

h1 {
  text-align: center;
}

.swal2-title,
h4 {
  text-transform: capitalize !important;
  margin-left: 0.2rem;
}

.completado {
  text-decoration-line: line-through;
  color: gray;
}

.form-check-input {
  margin-left: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0;
}
.form-check-input:hover {
  cursor: pointer;
  box-shadow: inset;
}
.form-check-input:checked {
  background-color: #b9b262;
  border-color: #b9b262;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #b9b262;
  --bs-btn-border-color: #b9b262;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #a7a05c;
  --bs-btn-hover-border-color: #a7a05c;
}
@media (min-width: 450px) {
  .btn-primary {
    margin-top: 10px;
  }
}

.form-select {
  width: 100px;
  display: inline-block;
}

.form-control {
  display: inline-block;
  width: 15rem;
}

.fa-solid {
  margin-left: 0.5rem;
  color: #3FB950;
}
.fa-solid:hover {
  cursor: pointer;
}

.on {
  display: block;
}

.deleteAll {
  display: none;
}

.tarjeta {
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.25);
  margin: 10px;
  padding: 10px 5px 30px 5px;
  border-radius: 12px;
}

.kanto-pokedex {
  background-color: #F4ED9E;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
  overflow: scroll;
  padding: 20px;
}
@media (min-width: 450px) {
  .kanto-pokedex {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .kanto-pokedex {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .kanto-pokedex {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .kanto-pokedex {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1400px) {
  .kanto-pokedex {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
.kanto-pokedex img {
  width: 9rem;
  height: 9rem;
  margin: 0.5rem;
  background-color: #b9b262;
  border-radius: 50%;
  image-rendering: pixelated;
}

.ball-1,
.ball-2,
.ball-3,
.ball-4,
.ball-5,
.ball-6,
.ball-7,
.ball-8,
.ball-9,
.ball-10,
.ball-11,
.ball-12,
.ball-13,
.ball-14,
.ball-15,
.ball-btn {
  width: 3rem;
}

.buttonBall {
  height: 1.7rem;
  width: 1.7rem;
}

.ballsBotones {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.ballsBotones .btn-primary {
  margin-top: 0 !important;
}

.filtro {
  width: 3rem !important;
  height: 3rem !important;
  image-rendering: unset !important;
  background-color: #b9b262 !important;
  border-radius: 50%;
  margin-top: 0.2rem;
}

.filtroDesactivado {
  filter: grayscale(80%);
}

.btnActivado {
  filter: contrast(65%);
}

p {
  margin-top: 1rem;
  margin-bottom: 0;
  text-decoration: solid;
}

.aviso {
  color: red;
}

.rarezaDom {
  width: 3rem !important;
  height: 3rem !important;
  image-rendering: unset !important;
  background-color: #3FB950 !important;
  border-radius: 50%;
}

.rarezaSwal {
  width: 3rem !important;
  height: 3rem !important;
  background-color: #3FB950;
  border-radius: 50%;
  image-rendering: unset !important;
}

.swal2-styled.swal2-confirm {
  background-color: #3FB950 !important;
}

.swal2-popup {
  background: #F4ED9E !important;
  border: 13px !important;
  border-color: #b9b262 !important;
}

.ball {
  display: block;
}

.use-pokeball,
.use-honorball,
.use-superball,
.use-ultraball,
.use-masterball,
.buy-pokeball,
.buy-honorball,
.buy-superball,
.buy-ultraball,
.buy-masterball,
.use-pokerandom,
.poke-0,
.off {
  display: none;
}

.nombre-contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pokemon,
.balled {
  margin-bottom: 1rem;
}

.pokemon-nombre {
  text-decoration: underline #3FB950;
}

/*# sourceMappingURL=style.css.map */
